@import 'styles/utils/mixins';

.mediaSection {
  @include flex($flex-direction: column, $align-items: flex-start);
  margin: 58px 100px 50px 100px;
  gap: 32px;
}

.mediaGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px 95px;
  justify-content: center;
}

.mediaGrid a {
  text-decoration: none;
  min-height: 100%;
}

.filterSection {
  @include flex();
  gap: 25px;
}

.label {
  margin-top: 10px;
  @include flex($align-items: flex-start);
}

.title {
  font-size: 18px;
  font-weight: bold;
}
