@import 'styles/utils/colors';
@import 'styles/utils/variables';
@import 'styles/utils/mixins';

.contactButton {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  position: relative;
  z-index: 1;
  @include border-none;
  background-color: map-get($colors, primary, dark);
  border-radius: $border-radius;
  cursor: pointer;
}

.contactButton:hover {
  background-color: map-get($colors, primary, normal);
  color: map-get($colors, neutral, dark);
  transition: background-color 150ms 50ms ease-in-out,
    color 150ms 100ms ease-in-out;
}

.contactButton::after {
  @include pseudo($content: 'Contactez moi');
  opacity: 0;

  border-radius: $border-radius;
  z-index: -1;
}
