@import 'styles/utils/variables';
@import 'styles/utils/colors';
@import 'styles/utils/mixins';
@import 'styles/components/Button.module';

.menu {
  position: absolute;
  background: map-get($colors, primary, dark);
  list-style: none;
  z-index: 1;
  border-radius: 0 0 $border-radius $border-radius;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.menu li {
  border-top: 1px solid white;
  @extend .button;
  @include flex($justify-content: start, $align-items: center);
}

.menu li:hover,
.menu li:focus {
  background: map-get($colors, primary, normal);
  transition: background-color 50ms 50ms ease-in-out;
}
